.nc {
  $align-offset: var(--nc-align-offset, 0em);
  $inline-padding: var(--nc-inline-padding, 0.3em);

  position: relative;
  display: inline-flex;
  overflow: hidden;
  line-height: 1;
  margin-inline: calc(-1 * $inline-padding);
  padding-inline: $inline-padding;
  transform: translateY(calc(-1 * $align-offset));

  &__box {
    flex-shrink: 0;
    position: relative;
    display: inline-flex;
    justify-content: center;
    transform: translateY($align-offset);
  }

  &__spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // filter: url(#nc-effect);
  }

  &__glyph {
    flex-shrink: 0;
    text-align: center;
    white-space: pre;

    &:not(&--static) {
      user-select: none;
    }
  }

  &__effect {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
  }
}